:root {
  --background-color: dodgerblue;
  --color: #fc7307;
  --font-size: 10px;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;

  color: var(--color);
  background-color: var(--background-color);
  font-size: var(--font-size);
}

/* Only to test the template */
.head-1 {
  margin: 0;
  color: #00c8ff;
  font-size: 5rem;
  text-align: center;

  i {
    font-size: 0.5rem;
  }
}
